<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2014 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="Brand">
    <resultMap id="BrandMap" type="Brand">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="en_name" property="enName"/>
        <result column="en_cap" property="enCap"/>
        <result column="logo" property="logo"/>
        <result column="description" property="description"/>
        <result column="type" property="type"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        parana_brands
    </sql>

    <sql id="cols_all">
        id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
        name, en_name, en_cap, logo, description, `type`, created_at, updated_at
    </sql>

    <sql id="vals">
        #{name}, #{enName}, #{enCap}, #{logo}, #{description}, #{type}, now(), now()
    </sql>

    <sql id="criteria">
        WHERE 1 = 1
        <if test="name != null"> AND name LIKE CONCAT('%', #{name} ,'%') </if>
        <if test="enName != null"> AND en_name LIKE CONCAT('%', #{enName}, '%') </if>
        <if test="enCap != null"> AND en_cap = #{enCap} </if>
    </sql>

    <insert id="create" parameterType="Brand" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="tb" />
        (<include refid="cols_exclude_id" />)
        VALUES
        (<include refid="vals" />)
    </insert>

    <update id="update" parameterType="Brand">
        UPDATE <include refid="tb"/>
        <set>
            <if test="name != null"> name = #{name}, </if>
            <if test="enName != null"> en_name = #{enName}, </if>
            <if test="enCap != null"> en_cap = #{enCap}, </if>
            <if test="logo != null"> logo = #{logo}, </if>
            <if test="description != null"> description = #{description}, </if>
            <if test="type != null"> `type` = #{type}, </if>
            updated_at=now()
        </set>
        WHERE id=#{id}
    </update>

    <select id="load" parameterType="long" resultMap="BrandMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="loads" parameterType="list" resultMap="BrandMap">
        SELECT id,
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE id IN
        <foreach collection="list" separator="," open="("
                 close=")" item="id">
            #{id}
        </foreach>
    </select>

    <select id="findByName" parameterType="string" resultMap="BrandMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE name = #{name}
    </select>

    <select id="findByEnName" parameterType="string" resultMap="BrandMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE en_name = #{enName}
    </select>

    <select id="findByFuzzyName" parameterType="map" resultMap="BrandMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <where>
            <if test="name != null">AND `name` LIKE CONCAT(#{name}, '%')</if>
        </where>
        LIMIT #{limit}
    </select>

    <select id="list" parameterType="Brand" resultMap="BrandMap">
        SELECT id,
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        <include refid="criteria"/>
    </select>

    <!-- 计数 -->
    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM <include refid="tb"/>
        <include refid="criteria"/>
    </select>

    <!-- 分页查询 -->
    <select id="paging" parameterType="map" resultMap="BrandMap">
        SELECT
        <include refid="cols_all"/>
        FROM <include refid="tb"/>
        <include refid="criteria"/>
        LIMIT #{offset}, #{limit}
    </select>

    <select id="dailyBrandIncrement" parameterType="map" resultType="int">
        SELECT COUNT(1)
        FROM <include refid="tb"/>
        WHERE created_at &gt; #{startAt}
        AND created_at &lt; #{endAt}
    </select>
</mapper>