<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="BrandSubset">
    <resultMap id="BrandSubsetMap" type="io.terminus.parana.category.model.BrandSubset">
        <id column="id" property="id"/>
        <result column="bc_id" property="bcId"/>
        <result column="brand_id" property="brandId"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        parana_brand_subsets
    </sql>

    <sql id="cols_all">
      id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
      bc_id, brand_id, created_at, updated_at
    </sql>

    <sql id="vals">
      #{bcId}, #{brandId}, now(), now()
    </sql>

    <insert id="create" parameterType="io.terminus.parana.category.model.BrandSubset" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO
      <include refid="tb" />
      (<include refid="cols_exclude_id" />)
      VALUES
      (<include refid="vals" />)
    </insert>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id=#{id}
    </delete>

    <select id="findById" parameterType="long" resultMap="BrandSubsetMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE id = #{id}
    </select>

    <select id="findByBcId" parameterType="long" resultMap="BrandSubsetMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE bc_id = #{bcId}
    </select>

    <select id="findByBcIds" parameterType="list" resultMap="BrandSubsetMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE bc_id IN
        <foreach collection="list" open="(" separator="," close=")" item="bcId">
            #{bcId}
        </foreach>
    </select>

    <select id="findByBcIdAndBrandId" parameterType="map" resultMap="BrandSubsetMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE bc_id = #{bcId} AND brand_id = #{brandId}
    </select>
</mapper>