<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2014 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="CategoryBinding">

    <resultMap id="CategoryBindingyMap" type="CategoryBinding">
        <id column="id" property="id"/>
        <result column="front_category_id" property="frontCategoryId"/>
        <result column="back_category_id" property="backCategoryId"/>
        <result column="path" property="path"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        parana_category_bindings
    </sql>

    <sql id="cols_all">
      id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
      front_category_id, back_category_id, path, created_at, updated_at
    </sql>

    <sql id="vals">
        #{frontCategoryId}, #{backCategoryId}, #{path}, now(), now()
    </sql>

    <insert id="create" parameterType="CategoryBinding" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO
      <include refid="tb" />
      (<include refid="cols_exclude_id" />)
      VALUES
      (<include refid="vals" />)
    </insert>

    <select id="findById" parameterType="long" resultMap="CategoryBindingyMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="findByBackCategoryId" parameterType="long" resultMap="CategoryBindingyMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE back_category_id = #{backCategoryId}
    </select>

    <select id="findByFrontCategoryId" parameterType="long" resultMap="CategoryBindingyMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE front_category_id = #{frontCategoryId}
    </select>

    <select id="findByFrontBackCategoryId" parameterType="long" resultMap="CategoryBindingyMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE front_category_id = #{frontCategoryId}
        AND back_category_id = #{backCategoryId}
    </select>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id = #{id}
    </delete>
</mapper>