<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="ImportApply">
    <resultMap id="ImportApplyMap" type="ImportApply">
        <id column="id" property="id" />
        <result column="seller_id" property="sellerId"/>
        <result column="seller_name" property="sellerName"/>
        <result column="shop_id" property="shopId"/>
        <result column="shop_name" property="shopName"/>
        <result column="file_url" property="fileUrl"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="check_result" property="checkResult"/>

        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="table_name">
        parana_import_applys
    </sql>

    <sql id="columns_exclude_id">
        seller_id,seller_name,shop_id,shop_name,file_url,status,remark,check_result,
        created_at, updated_at
    </sql>

    <sql id="columns">
        id,
        <include refid="columns_exclude_id"/>
    </sql>

    <sql id="values">
        #{sellerId},#{sellerName},#{shopId},#{shopName},#{fileUrl},#{status},#{remark},#{checkResult},
        now(),now()
    </sql>

    <sql id="criteria">
        1 = 1
        <if test="sellerId != null"> and `seller_id` = #{sellerId}</if>
        <if test="shopId != null"> and shop_id = #{shopId} </if>
        <if test="status != null"> and `status` = #{status}</if>
    </sql>

    <insert id="create" parameterType="ImportApply" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO
        <include refid="table_name"/>
        (<include refid="columns_exclude_id"/>)
        VALUES (<include refid="values"/>)
    </insert>

    <update id="update" parameterType="ImportApply">
        UPDATE
        <include refid="table_name"/>
        <set>
            <if test="status !=null"> status = #{status},</if>
            <if test="checkResult != null"> check_result = #{checkResult},</if>
            updated_at=now()
        </set>
        WHERE id=#{id}
    </update>

    <select id="load" parameterType="long" resultMap="ImportApplyMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table_name"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="loadAll" parameterType="list" resultMap="ImportApplyMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table_name"/>
        WHERE id IN
        <foreach collection="list" separator="," open="("
                 close=")" item="id">
            #{id}
        </foreach>
    </select>

    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM
        <include refid="table_name"/>
        <where>
            <include refid="criteria"/>
        </where>
    </select>

    <select id="paging" parameterType="map" resultMap="ImportApplyMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table_name"/>
        <where>
            <include refid="criteria"/>
        </where>
        ORDER BY id DESC
        <if test="limit != null">
            LIMIT
            <if test="offset != null">#{offset},</if>
            #{limit}
        </if>
    </select>

    <select id="list" parameterType="map" resultMap="ImportApplyMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="table_name"/>
        <where>
            <include refid="criteria"/>
        </where>
        ORDER BY id DESC
    </select>

</mapper>
