<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2014 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ItemSnapshot">

    <resultMap id="itemSnapshotMap" type="ItemSnapshot">
        <id property="id" column="id"/>
        <id property="itemId" column="item_id"/>
        <id property="itemName" column="item_name"/>
        <id property="sellerId" column="seller_id"/>
        <id property="mainImage" column="main_image"/>
        <id property="detail" column="detail"/>

        <id property="createdAt" column="created_at"/>
        <id property="updatedAt" column="updated_at"/>
    </resultMap>


    <sql id="table">
        parana_item_snapshots
    </sql>

    <sql id="columns">
        item_id, item_name, seller_id, main_image, detail,
        created_at, updated_at
    </sql>

    <insert id="create" parameterType="ItemSnapshot" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="table"/> (<include refid="columns"/>)
        values
        (
            #{itemId}, #{itemName}, #{sellerId}, #{mainImage}, #{detail},
            now(), now()
        )
    </insert>

    <select id="load" parameterType="long" resultMap="itemSnapshotMap">
        select id, <include refid="columns"/>
        from <include refid="table"/>
        where id = #{id}
    </select>

    <select id="loadByDate" parameterType="map" resultMap="itemSnapshotMap">
        select id, <include refid="columns"/>
        from <include refid="table"/>
        where <![CDATA[created_at >= #{date}]]> and item_id = #{itemId}
        order by created_at desc limit 1
    </select>


</mapper>
