<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2014 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="SkuExtra">
    <resultMap id="SkuExtraMap" type="SkuExtra">
        <id column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="sku_id" property="skuId"/>
        <result column="special_price" property="specialPrice"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        parana_sku_extras
    </sql>

    <sql id="cols_all">
      id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
      item_id, sku_id, special_price, created_at, updated_at
    </sql>

    <sql id="vals">
        #{itemId}, #{skuId}, #{specialPrice}, now(), now()
    </sql>

    <select id="load" parameterType="long" resultMap="SkuExtraMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <insert id="create" parameterType="SkuExtra" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO
      <include refid="tb" />
      (<include refid="cols_exclude_id" />)
      VALUES
      (<include refid="vals" />)
    </insert>

    <insert id="creates" parameterType="list">
        INSERT INTO <include refid="tb"/>
        (<include refid="cols_exclude_id"/>)
        VALUES
        <foreach collection="list" item="i" index="index" separator=",">
            (
            #{i.itemId}, #{i.skuId}, #{i.specialPrice}, now(), now()
            )
        </foreach>
    </insert>

    <update id="update" parameterType="SkuExtra">
        UPDATE <include refid="tb"/>
        <set>
            <if test="specialPrice != null"> special_price = #{specialPrice}, </if>
            updated_at=now()
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateBySkuId" parameterType="SkuExtra">
        UPDATE <include refid="tb"/>
        <set>
            <if test="specialPrice != null"> special_price = #{specialPrice}, </if>
            updated_at=now()
        </set>
        WHERE sku_id=#{skuId}
    </update>

    <select id="findBySkuId" parameterType="long" resultMap="SkuExtraMap" >
      SELECT <include refid="cols_all" />
      FROM <include refid="tb" />
      WHERE sku_id=#{skuId}
    </select>

    <select id="findBySkuIds" parameterType="list" resultMap="SkuExtraMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE sku_id IN
        <foreach collection="list" open="(" separator="," close=")" item="item">
            #{item}
        </foreach>
    </select>

    <select id="findByItemId" parameterType="long" resultMap="SkuExtraMap" >
        SELECT <include refid="cols_all" />
        FROM <include refid="tb" />
        WHERE item_id = #{itemId}
    </select>

    <!-- 计数 -->
    <select id="count" parameterType="map" resultType="long">
        SELECT COUNT(1)
        FROM <include refid="tb"/>
    </select>

    <!-- 分页查询 -->
    <select id="paging" parameterType="map" resultMap="SkuExtraMap">
        SELECT
        <include refid="cols_all"/>
        FROM <include refid="tb"/>
        ORDER BY id DESC LIMIT #{offset}, #{limit}
    </select>

</mapper>