<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2015 杭州端点网络科技有限公司
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="SkuPrice">
    <resultMap id="SkuPriceMap" type="SkuPrice">
        <id column="id" property="id"/>
        <result column="item_id" property="itemId"/>
        <result column="sku_id" property="skuId"/>
        <result column="desc" property="desc"/>
        <result column="price" property="price"/>
        <result column="lv" property="lv"/>
        <result column="created_at" property="createdAt"/>
        <result column="updated_at" property="updatedAt"/>
    </resultMap>

    <sql id="tb">
        parana_sku_prices
    </sql>

    <sql id="cols_all">
      id, <include refid="cols_exclude_id" />
    </sql>

    <sql id="cols_exclude_id">
      item_id, sku_id, `desc`, price, lv, created_at, updated_at
    </sql>

    <sql id="vals">
        #{itemId}, #{skuId}, #{desc}, #{price}, #{lv}, now(), now()
    </sql>

    <insert id="create" parameterType="SkuPrice" keyProperty="id" useGeneratedKeys="true">
      INSERT INTO
      <include refid="tb" />
      (<include refid="cols_exclude_id" />)
      VALUES
      (<include refid="vals" />)
    </insert>

    <update id="updateById" parameterType="SkuPrice">
        UPDATE <include refid="tb"/>
        <set>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="price != null">price = #{price},</if>
            <if test="lv != null">lv = #{lv},</if>
            updated_at=now()
        </set>
        WHERE id=#{id}
    </update>

    <update id="updateBySkuId" parameterType="SkuPrice">
        UPDATE <include refid="tb"/>
        <set>
            <if test="desc != null">`desc` = #{desc},</if>
            <if test="price != null">price = #{price},</if>
            <if test="lv != null">lv = #{lv},</if>
            updated_at=now()
        </set>
        WHERE sku_id=#{skuId}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM <include refid="tb"/>
        WHERE id=#{id}
    </delete>

    <select id="findById" parameterType="long" resultMap="SkuPriceMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE id = #{id} LIMIT 1
    </select>

    <select id="findBySkuIdWithLevel" parameterType="map" resultMap="SkuPriceMap">
        SELECT <include refid="cols_all"/>
        FROM <include refid="tb"/>
        WHERE sku_id=#{skuId} AND lv=#{level} LIMIT 1
    </select>

    <select id="findBySkuId" parameterType="long" resultMap="SkuPriceMap" >
      SELECT <include refid="cols_all" />
      FROM <include refid="tb" />
      WHERE sku_id=#{skuId}
    </select>

    <select id="findInSkuIds" parameterType="list" resultMap="SkuPriceMap">
        SELECT
        <include refid="cols_all"/>
        FROM
        <include refid="tb"/>
        WHERE sku_id IN
        <foreach collection="list" open="(" separator="," close=")"
                 item="skuId">
            #{skuId}
        </foreach>
    </select>
</mapper>